[user]
	name = James Spencer
	email = jmes.spncer@gmail.com
	signingkey = FILL_IN
[core]
	editor = code --wait
	excludesfile = /Users/jspencer/.gitignore
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[commit]
	gpgsign = true